li {
  list-style: none;
  
}

#app {

  height: 100vh;
  overflow: auto;
  background: hsla(46, 73%, 75%, 1);

background: linear-gradient(180deg, hsla(46, 73%, 75%, 1) 0%, hsla(176, 73%, 88%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(46, 73%, 75%, 1) 0%, hsla(176, 73%, 88%, 1) 100%);

background: -webkit-linear-gradient(180deg, hsla(46, 73%, 75%, 1) 0%, hsla(176, 73%, 88%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EED991", endColorstr="#CCF7F4", GradientType=1 );
}
nav {
  background-color: #b1bea5;
 
}
fieldset.form-control{
  background-color: #b1bea5;;
 
}
ul.dropdown-menu {
  background-color: #888c64;
}

.dropdown-menu > .dropdown-item:hover {
  background-color: #888c64;
}

.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: #b1bea5;
}

h1 {
  text-align: center;
  color: rgb(124, 122, 122);
}

h2 {
  text-align: center;
  color: lightgray;
}

.wrapper {
  width: 70%;
  margin: 40px auto;
}
.wrapper2{
  width: 25%;
  margin:40px auto;

}
.wrapper3{
  width: 45%;
  margin: 40px auto;
}

.wrapper4{
  width:85%;
  margin: 40px auto;
}
.flex-wrapper{
  height: 70vh;
  display: flex;
  flex-direction: column;

justify-content:center;
 
}
.empty-arr {
  height: 40vh;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: white;
  flex-direction: column;
  border-radius: 15px;
  text-align: center;

}
.empty-arr p {
  font-size: 25px;
  font-weight: 400;
}

.empty-arr a {
  text-decoration: none;
  color: black;
}
 .empty-arr 
 a:hover {
  text-decoration: none;
  color: black;
}



.display {
  width: 25vw;
  background-color: #888c64;
  margin: 50px auto;
  border-radius: 15px;
  padding: 25px 20px;
  color: #260f01;
  filter: drop-shadow(1px 5px 3px rgb(65, 63, 63));
  display: inline-block;
}

.cont{
  
  margin: auto;
  display: grid;
  width: 85%;
  max-height: 80vh;
  align-items: flex-start;
  
  overflow-y: auto;
  grid-template-columns: auto auto auto;
background-color: rgba(255, 255, 255, 0.16);

}
#name {
  font-size: 20px;
  font-weight: bold;
}

.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.body {
  margin-top: 10px;
}

.rows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label {
  font-weight: 600;
}

.rows .btn {
  margin: 4px auto;
  background-color: #b4bfaa;
  padding: 3px;
  border-radius: 2px;
  color: #260f01;
  font-weight: 600;
}
form > .btn ,fieldset>.btn{
  background-color: #888c64;
  font-weight:600;
  color: lightgray;
}

form > .btn:hover, fieldset>.btn:hover {
  background-color: #b4bfaa;
}

.empty-arr .btn{
   background-color: #b1bea5;
}

.empty-arr .btn:hover{
  background-color: #b4bfaa;

}
.input-group {
  margin-left: 10px;
}
.btns{
  display: flex;
  justify-content: space-between;
}

.btns>.btn{
  background-color:#888c64 ;
  font-weight: 600;
}

.btns>.btn:hover{
  background-color:#888c647d ;
 
}

.links{
 margin-right: 30px;
 display: flex;
 justify-content: space-between;
}

.rounded{
  margin-left: 15px;
}

.rows >a {
  color:#260f01
}

thead{
  background-color: #b1bea5;
}